<h1><center>Obtaining Stocks and Market Data + Fama-MacBeth Regression</center></h1>

## Introduction to Programming 2477-2223 S1
## Nova School of Business and Economics


### Team: Daniel Brosko (55036), ... (TODO)

TODO: theoretical description

## 1 Introduction

TODO

## 2 General packages loading

In [1]:
# in the beginning, we (install and) import all the needed packages

# !pip install pandas-datareader
# !pip install yfinance
# !pip install pyreadr
# !pip install fix-yahoo-finance==0.1.30


import pandas as pd
import numpy as np
import re
import requests
from bs4 import BeautifulSoup
from datetime import datetime
import time
import yfinance as yf


#importing own functions
import scraping_functions as sf
import computing_functions as cf
import stock_prices as sp

In [2]:
# loading tickers of selected stocks
tickers = sf.load_tickers("tickers_set.csv")
tickers.head()

0     TER
1     ADM
2    TMUS
3    IDXX
4     LNC
Name: Ticker, dtype: object

## 3 Market Capitalization Data Scraping

In [3]:
starting_time = time.time()

# we perform the scraping of market capitalization for all desired stocks 
mkt_cap_df_list = []

for ticker in tickers:
    mkt_cap_df_list.append(sf.mkt_cap_scraper(ticker))


elapsed_time = time.time() - starting_time
print('Elapsed time:', round(elapsed_time,3) , 'seconds.')

#mkt_cap_df_list

Elapsed time: 1.453 seconds.

In [4]:
# merging mkt. capital for all stocks, and renaming the columns according to particular stocks

df_mkt_cap = mkt_cap_df_list[0]

for dataframe in mkt_cap_df_list[1:] :
    df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')

mc_columns_names = ['Date']
mc_columns_names.extend(tickers)
df_mkt_cap.columns = mc_columns_names

df_mkt_cap

/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_49363/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')
/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_49363/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')
/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_49363/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')
/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_49363/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')
/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_49363/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')
/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_49363/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')
/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_49363/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')
/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_49363/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')
/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_49363/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')

,Date,TER,ADM,TMUS,IDXX,LNC,WST,AMZN,DOV,ORLY,...,USB,ETR,AZO,PVH,BIIB,ETN,PFE,WMB,FITB,CHRW
0,2009-04-01,0.78,0.00,6.24,2.04,1.84,1.07,31.68,4.98,4.81,...,27.33,13.47,9.12,1.17,14.97,6.26,94.12,6.70,1.93,7.62
1,2009-04-02,0.84,0.00,6.60,2.07,1.69,1.11,32.90,5.38,4.89,...,28.56,13.66,8.65,1.23,15.07,6.91,92.64,7.07,2.00,8.08
2,2009-04-03,0.89,0.00,6.45,2.13,1.79,1.10,33.69,5.52,4.96,...,29.27,13.57,8.76,1.27,14.52,7.01,91.16,7.25,2.07,8.12
3,2009-04-06,0.88,0.00,6.32,2.16,1.66,1.09,33.61,5.47,5.00,...,27.93,13.38,8.79,1.21,14.32,6.92,92.24,7.05,1.93,7.96
4,2009-04-07,0.83,0.00,5.95,2.14,1.79,1.06,32.54,5.41,4.86,...,26.43,13.31,8.50,1.17,15.03,6.61,90.90,6.72,1.80,7.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3439,2022-11-28,14.11,54.00,187.96,33.31,6.37,16.68,957.44,19.86,53.96,...,65.00,23.04,51.19,4.16,42.15,64.76,277.94,40.81,24.53,12.21
3440,2022-11-29,13.95,54.11,186.35,34.04,6.46,16.63,941.85,19.86,53.78,...,66.26,22.95,51.39,4.32,42.08,64.60,277.49,41.83,24.81,12.20
3441,2022-11-30,14.61,54.70,189.91,35.45,6.61,17.46,983.84,20.23,54.72,...,67.45,23.65,51.86,4.47,44.07,65.12,281.08,42.30,25.06,12.53
3442,2022-12-01,14.43,51.23,190.35,36.56,6.57,18.01,973.24,20.31,54.25,...,67.39,23.66,51.33,4.90,43.59,65.08,286.41,42.57,24.66,12.34
3443,2022-12-02,14.49,51.45,191.10,36.24,6.59,18.18,959.28,20.45,54.33,...,67.82,23.58,51.71,4.86,43.16,65.06,285.45,42.61,24.30,12.09

## 4 Getting stock prices

In [6]:
# downloading stocks prices - designed to save as csv, so we have "back-up" if something goes wrong later
success_tickers, failed_tickers = sp.get_stocks(tickers)

TER - SUCCESS
ADM - SUCCESS
TMUS - SUCCESS
IDXX - SUCCESS
LNC - SUCCESS
WST - SUCCESS
AMZN - SUCCESS
DOV - SUCCESS
ORLY - SUCCESS
BSX - SUCCESS
USB - SUCCESS
ETR - SUCCESS
AZO - SUCCESS
PVH - SUCCESS
BIIB - SUCCESS
ETN - SUCCESS
PFE - SUCCESS
WMB - SUCCESS
FITB - SUCCESS
CHRW - SUCCESS
Elapsed time: 21.494 seconds.

In [7]:
# load the stock prices into list of dataframes - todo function
success_tickers

['TER',
 'ADM',
 'TMUS',
 'IDXX',
 'LNC',
 'WST',
 'AMZN',
 'DOV',
 'ORLY',
 'BSX',
 'USB',
 'ETR',
 'AZO',
 'PVH',
 'BIIB',
 'ETN',
 'PFE',
 'WMB',
 'FITB',
 'CHRW']

In [8]:
stocks_df_list = sp.load_stocks(success_tickers)
stocks_df_list

[            Date       High        Low       Open      Close     Volume  \
 0     2017-12-06  40.139999  39.110001  39.259998  39.959999  1201200.0
 1     2017-12-07  40.660000  40.130001  40.270000  40.299999  1498300.0
 2     2017-12-08  40.980000  40.220001  40.779999  40.509998  1779400.0
 3     2017-12-11  40.919998  40.119999  40.650002  40.459999  1388200.0
 4     2017-12-12  41.849998  40.610001  41.730000  40.950001  1837700.0
 ...          ...        ...        ...        ...        ...        ...
 1253  2022-11-29  90.870003  88.870003  90.139999  89.190002  1099900.0
 1254  2022-11-30  93.480003  87.860001  89.669998  93.449997  2426400.0
 1255  2022-12-01  94.610001  90.410004  94.370003  92.290001  1552900.0
 1256  2022-12-02  92.809998  90.000000  90.110001  92.669998  1177200.0
 1257  2022-12-05  93.800003  91.660004  92.150002  93.389999  1483173.0

       Adj Close Name
 0     38.815983  TER
 1     39.146248  TER
 2     39.350224  TER
 3     39.301666  TER
 4     39.777634  TER
 ...         ...  ...
 1253  89.190002  TER
 1254  93.449997  TER
 1255  92.290001  TER
 1256  92.669998  TER
 1257  93.389999  TER

 [1258 rows x 8 columns],
             Date       High        Low       Open      Close     Volume  \
 0     2017-12-06  41.310001  40.849998  40.930000  41.220001  2704100.0
 1     2017-12-07  41.810001  41.040001  41.270000  41.310001  3667800.0
 2     2017-12-08  41.529999  41.119999  41.330002  41.509998  2396300.0
 3     2017-12-11  41.910000  41.299999  41.400002  41.900002  2604900.0
 4     2017-12-12  42.230000  41.750000  41.950001  41.770000  3834600.0
 ...          ...        ...        ...        ...        ...        ...
 1253  2022-11-29  97.809998  96.029999  96.690002  96.449997  1661400.0
 1254  2022-11-30  97.849998  95.050003  96.959999  97.500000  4193300.0
 1255  2022-12-01  97.900002  91.209999  97.699997  91.320000  5141200.0
 1256  2022-12-02  92.150002  90.160004  91.010002  91.709999  3558200.0
 1257  2022-12-05  92.430000  89.949997  90.720001  90.769997  2986668.0

       Adj Close Name
 0     35.836540  ADM
 1     35.914780  ADM
 2     36.088657  ADM
 3     36.427719  ADM
 4     36.314709  ADM
 ...         ...  ...
 1253  96.449997  ADM
 1254  97.500000  ADM
 1255  91.320000  ADM
 1256  91.709999  ADM
 1257  90.769997  ADM

 [1258 rows x 8 columns],
             Date        High         Low        Open       Close   Volume  \
 0     2017-12-06   62.250000   59.959999   60.529999   62.119999  5145800
 1     2017-12-07   62.919998   61.400002   61.580002   61.919998  4623000
 2     2017-12-08   62.980000   62.340000   62.470001   62.540001  3715000
 3     2017-12-11   63.470001   62.560001   62.560001   63.070000  3366700
 4     2017-12-12   63.939999   63.049999   63.049999   63.480000  3608400
 ...          ...         ...         ...         ...         ...      ...
 1253  2022-11-29  149.600006  147.820007  149.059998  148.619995  5339000
 1254  2022-11-30  151.889999  147.669998  148.199997  151.460007  7464500
 1255  2022-12-01  153.360001  150.960007  152.259995  151.809998  3812600
 1256  2022-12-02  152.550003  149.619995  149.619995  152.410004  3046600
 1257  2022-12-05  152.399994  149.899994  151.800003  150.619995  2806090

        Adj Close  Name
 0      62.119999  TMUS
 1      61.919998  TMUS
 2      62.540001  TMUS
 3      63.070000  TMUS
 4      63.480000  TMUS
 ...          ...   ...
 1253  148.619995  TMUS
 1254  151.460007  TMUS
 1255  151.809998  TMUS
 1256  152.410004  TMUS
 1257  150.619995  TMUS

 [1258 rows x 8 columns],
             Date        High         Low        Open       Close  Volume  \
 0     2017-12-06  162.210007  158.949997  160.360001  159.990005  624300
 1     2017-12-07  160.710007  158.029999  159.690002  159.779999  417500
 2     2017-12-08  161.190002  159.199997  160.570007  160.570007  273300
 3     2017-12-11  160.570007  157.850006  160.500000  159.699997  379500
 4     2017-12-12  159.970001  157.110001  159.759995  159.270004  351000
 ...          ...         ...         ...         ...         ...     ...
 1253  2022-11-29  410.040009  396.760010  397.369995  408.959991  444700
 1254  2022-11-30  427.720001  405.220001  407.500000  425.869995  839400
 1255  2022-12-01  440.059998  423.260010  426.100006  439.170013  533100
 1256  2022-12-02  437.869995  423.000000  428.549988  435.299988  372700
 1257  2022-12-05  429.769989  419.070007  428.380005  422.299988  332690

        Adj Close  Name
 0     159.990005  IDXX
 1     159.779999  IDXX
 2     160.570007  IDXX
 3     159.699997  IDXX
 4     159.270004  IDXX
 ...          ...   ...
 1253  408.959991  IDXX
 1254  425.869995  IDXX
 1255  439.170013  IDXX
 1256  435.299988  IDXX
 1257  422.299988  IDXX

 [1258 rows x 8 columns],
             Date       High        Low       Open      Close     Volume  \
 0     2017-12-06  76.930000  75.410004  75.639999  76.500000  1227100.0
 1     2017-12-07  77.970001  76.220001  76.260002  77.589996  1231200.0
 2     2017-12-08  78.730003  77.830002  78.080002  78.540001  1530300.0
 3     2017-12-11  78.739998  77.050003  78.519997  77.169998  1221500.0
 4     2017-12-12  78.209999  77.230003  77.459999  77.570000   959400.0
 ...          ...        ...        ...        ...        ...        ...
 1253  2022-11-29  38.310001  37.459999  37.779999  38.090000  2044900.0
 1254  2022-11-30  38.959999  36.820000  37.880001  38.939999  3001400.0
 1255  2022-12-01  39.400002  38.570000  39.270000  38.730000  2045100.0
 1256  2022-12-02  38.930000  38.410000  38.410000  38.820000  1612600.0
 1257  2022-12-05  38.570000  37.470001  38.549999  37.740002  1322121.0

       Adj Close Name
 0     66.111259  LNC
 1     67.053230  LNC
 2     67.874237  LNC
 3     66.690269  LNC
 4     67.035950  LNC
 ...         ...  ...
 1253  38.090000  LNC
 1254  38.939999  LNC
 1255  38.730000  LNC
 1256  38.820000  LNC
 1257  37.740002  LNC

 [1258 rows x 8 columns],
             Date        High         Low        Open       Close     Volume  \
 0     2017-12-06  100.540001   99.150002   99.470001   99.190002   250100.0
 1     2017-12-07   99.919998   98.870003   99.349998   99.610001   218700.0
 2     2017-12-08   99.879997   97.790001   99.529999   99.629997   331500.0
 3     2017-12-11   99.650002   98.980003   99.550003   99.080002   175200.0
 4     2017-12-12   99.339996   98.540001   99.260002   99.000000   218900.0
 ...          ...         ...         ...         ...         ...        ...
 1253  2022-11-29  225.690002  221.820007  223.160004  223.500000   315100.0
 1254  2022-11-30  234.919998  222.479996  224.110001  234.660004  1028700.0
 1255  2022-12-01  243.029999  232.960007  236.339996  242.020004   618200.0
 1256  2022-12-02  246.839996  235.580002  235.580002  244.350006   896800.0
 1257  2022-12-05  241.800003  236.255005  239.940002  239.440002   595248.0

        Adj Close Name
 0      97.386032  WST
 1      97.798378  WST
 2      97.818008  WST
 3      97.278023  WST
 4      97.199478  WST
 ...          ...  ...
 1253  223.500000  WST
 1254  234.660004  WST
 1255  242.020004  WST
 1256  244.350006  WST
 1257  239.440002  WST

 [1258 rows x 8 columns],
             Date       High        Low       Open      Close       Volume  \
 0     2017-12-06  57.794498  56.804001  56.899502  57.617500   57066000.0
 1     2017-12-07  58.159500  57.549999  57.829498  57.989498   50232000.0
 2     2017-12-08  58.639500  57.855000  58.520000  58.099998   61002000.0
 3     2017-12-11  58.494999  57.849998  58.230000  58.445999   47270000.0
 4     2017-12-12  58.680000  58.080502  58.325500  58.254002   44718000.0
 ...          ...        ...        ...        ...        ...          ...
 1253  2022-11-29  94.410004  91.440002  94.040001  92.419998   65567300.0
 1254  2022-11-30  96.540001  91.529999  92.470001  96.540001  102628200.0
 1255  2022-12-01  97.230003  94.919998  96.989998  95.500000   68488000.0
 1256  2022-12-02  95.360001  93.779999  94.480003  94.129997   72427000.0
 1257  2022-12-05  94.059998  90.820000  93.050003  91.010002   67499963.0

       Adj Close  Name
 0     57.617500  AMZN
 1     57.989498  AMZN
 2     58.099998  AMZN
 3     58.445999  AMZN
 4     58.254002  AMZN
 ...         ...   ...
 1253  92.419998  AMZN
 1254  96.540001  AMZN
 1255  95.500000  AMZN
 1256  94.129997  AMZN
 1257  91.010002  AMZN

 [1258 rows x 8 columns],
             Date        High         Low        Open       Close     Volume  \
 0     2017-12-06   77.875603   77.172859   77.431343   77.770599   792320.0
 1     2017-12-07   78.626816   77.592896   77.746368   78.117935  1073717.0
 2     2017-12-08   80.088852   77.439415   79.216476   79.644585  2282624.0
 3     2017-12-11   79.466881   77.964462   79.321487   78.174477  1323174.0
 4     2017-12-12   78.586433   77.374802   78.093697   78.505653  1028778.0
 ...          ...         ...         ...         ...         ...        ...
 1253  2022-11-29  140.229996  138.479996  138.479996  139.369995   852500.0
 1254  2022-11-30  141.949997  137.029999  139.399994  141.949997  1450300.0
 1255  2022-12-01  143.520004  141.750000  143.000000  142.490005   769600.0
 1256  2022-12-02  144.169998  140.419998  140.949997  143.490005   679000.0
 1257  2022-12-05  141.945007  140.479996  141.600006  141.009995   806908.0

        Adj Close Name
 0      71.226997  DOV
 1      71.545105  DOV
 2      72.943306  DOV
 3      71.596893  DOV
 4      71.900215  DOV
 ...          ...  ...
 1253  139.369995  DOV
 1254  141.949997  DOV
 1255  142.490005  DOV
 1256  143.490005  DOV
 1257  141.009995  DOV

 [1258 rows x 8 columns],
             Date        High         Low        Open       Close   Volume  \
 0     2017-12-06  251.220001  245.460007  249.529999  245.830002  1000600
 1     2017-12-07  247.979996  243.139999  245.000000  244.860001   828000
 2     2017-12-08  251.380005  244.600006  246.389999  251.070007   609500
 3     2017-12-11  250.639999  245.369995  250.080002  247.240005   724900
 4     2017-12-12  247.940002  244.649994  246.229996  246.860001   986200
 ...          ...         ...         ...         ...         ...      ...
 1253  2022-11-29  855.099976  843.179993  852.000000  849.729980   411600
 1254  2022-11-30  870.919983  845.250000  847.359985  864.539978   797500
 1255  2022-12-01  869.989990  853.739990  869.059998  857.179993   339500
 1256  2022-12-02  859.229980  846.809998  848.929993  858.409973   365600
 1257  2022-12-05  851.450012  840.320007  849.700012  843.099976   318271

        Adj Close  Name
 0     245.830002  ORLY
 1     244.860001  ORLY
 2     251.070007  ORLY
 3     247.240005  ORLY
 4     246.860001  ORLY
 ...          ...   ...
 1253  849.729980  ORLY
 1254  864.539978  ORLY
 1255  857.179993  ORLY
 1256  858.409973  ORLY
 1257  843.099976  ORLY

 [1258 rows x 8 columns],
             Date       High        Low       Open      Close    Volume  \
 0     2017-12-06  25.280001  24.540001  24.860001  25.240000  12018600
 1     2017-12-07  25.340000  24.980000  25.299999  25.040001   9674600
 2     2017-12-08  25.770000  25.100000  25.510000  25.770000  14297600
 3     2017-12-11  25.770000  25.490000  25.639999  25.500000   9054700
 4     2017-12-12  25.730000  25.540001  25.680000  25.610001  11201600
 ...          ...        ...        ...        ...        ...       ...
 1253  2022-11-29  44.650002  43.840000  43.869999  44.500000   5548500
 1254  2022-11-30  45.320000  44.259998  44.540001  45.270000   9663100
 1255  2022-12-01  46.220001  45.330002  45.500000  46.119999   6277900
 1256  2022-12-02  46.759998  45.650002  45.799999  46.599998   7148100
 1257  2022-12-05  46.345001  45.375000  46.130001  45.419998   5183135

       Adj Close Name
 0     25.240000  BSX
 1     25.040001  BSX
 2     25.770000  BSX
 3     25.500000  BSX
 4     25.610001  BSX
 ...         ...  ...
 1253  44.500000  BSX
 1254  45.270000  BSX
 1255  46.119999  BSX
 1256  46.599998  BSX
 1257  45.419998  BSX

 [1258 rows x 8 columns],
             Date       High        Low       Open      Close      Volume  \
 0     2017-12-06  55.029999  54.430000  54.740002  54.590000   3822100.0
 1     2017-12-07  55.080002  54.230000  54.849998  54.900002   4404400.0
 2     2017-12-08  55.360001  54.509998  55.099998  55.360001   4371900.0
 3     2017-12-11  55.580002  55.119999  55.160000  55.270000   3892000.0
 4     2017-12-12  55.810001  54.650002  54.650002  55.500000   6037300.0
 ...          ...        ...        ...        ...        ...         ...
 1253  2022-11-29  44.619999  43.700001  43.799999  44.590000   7854200.0
 1254  2022-11-30  45.520000  43.720001  44.439999  45.389999  11688600.0
 1255  2022-12-01  45.540001  44.849998  45.389999  45.349998   8492700.0
 1256  2022-12-02  45.730000  45.080002  45.160000  45.639999  10786800.0
 1257  2022-12-05  45.689999  43.619999  45.639999  43.910000  13451793.0

       Adj Close Name
 0     46.197304  USB
 1     46.459652  USB
 2     46.848934  USB
 3     46.772770  USB
 4     46.967411  USB
 ...         ...  ...
 1253  44.590000  USB
 1254  45.389999  USB
 1255  45.349998  USB
 1256  45.639999  USB
 1257  43.910000  USB

 [1258 rows x 8 columns],
             Date        High         Low        Open       Close     Volume  \
 0     2017-12-06   83.820000   83.000000   83.379997   83.589996  1148500.0
 1     2017-12-07   83.720001   83.000000   83.529999   83.699997   800500.0
 2     2017-12-08   84.279999   83.279999   83.540001   84.040001   945000.0
 3     2017-12-11   84.629997   83.650002   83.839996   84.580002  2303600.0
 4     2017-12-12   85.230003   83.129997   84.750000   83.260002  1541000.0
 ...          ...         ...         ...         ...         ...        ...
 1253  2022-11-29  112.949997  111.809998  112.730003  112.809998  1563800.0
 1254  2022-11-30  116.470001  112.320000  112.599998  116.269997  2489900.0
 1255  2022-12-01  118.330002  116.230003  118.000000  116.300003  1358300.0
 1256  2022-12-02  116.150002  114.510002  115.260002  115.910004  1448000.0
 1257  2022-12-05  116.190002  114.735001  114.889999  115.400002   740531.0

        Adj Close Name
 0      69.186127  ETR
 1      69.277176  ETR
 2      69.558586  ETR
 3      70.005531  ETR
 4      68.912979  ETR
 ...          ...  ...
 1253  112.809998  ETR
 1254  116.269997  ETR
 1255  116.300003  ETR
 1256  115.910004  ETR
 1257  115.400002  ETR

 [1258 rows x 8 columns],
             Date         High          Low         Open        Close  Volume  \
 0     2017-12-06   711.760010   696.940002   705.630005   698.650024  492900
 1     2017-12-07   704.090027   693.750000   701.460022   702.340027  417300
 2     2017-12-08   723.429993   701.289978   702.789978   721.890015  546900
 3     2017-12-11   720.799988   705.780029   719.590027   708.609985  501900
 4     2017-12-12   717.669983   706.700012   710.859985   711.049988  447000
 ...          ...          ...          ...          ...          ...     ...
 1253  2022-11-29  2570.000000  2520.770020  2550.000000  2556.050049  124100
 1254  2022-11-30  2587.600098  2536.139893  2559.129883  2579.000000  183500
 1255  2022-12-01  2610.050049  2539.280029  2609.290039  2552.969971  126000
 1256  2022-12-02  2579.689941  2539.360107  2541.510010  2571.590088  152600
 1257  2022-12-05  2566.687988  2522.000000  2550.000000  2526.919922  170252

         Adj Close Name
 0      698.650024  AZO
 1      702.340027  AZO
 2      721.890015  AZO
 3      708.609985  AZO
 4      711.049988  AZO
 ...           ...  ...
 1253  2556.050049  AZO
 1254  2579.000000  AZO
 1255  2552.969971  AZO
 1256  2571.590088  AZO
 1257  2526.919922  AZO

 [1258 rows x 8 columns],
             Date        High         Low        Open       Close     Volume  \
 0     2017-12-06  134.139999  132.000000  133.899994  133.279999   814300.0
 1     2017-12-07  134.139999  132.600006  133.009995  133.729996   668500.0
 2     2017-12-08  135.410004  133.639999  134.190002  135.399994   554200.0
 3     2017-12-11  135.720001  133.580002  134.949997  134.559998   537200.0
 4     2017-12-12  134.949997  132.610001  134.729996  132.940002   781100.0
 ...          ...         ...         ...         ...         ...        ...
 1253  2022-11-29   65.019997   62.770000   62.820000   64.879997  1100500.0
 1254  2022-11-30   67.500000   64.230003   64.980003   67.180000  2035900.0
 1255  2022-12-01   76.389999   71.519997   74.330002   73.519997  2438800.0
 1256  2022-12-02   74.269997   72.059998   73.050003   72.930000  1397300.0
 1257  2022-12-05   71.815002   69.900002   72.000000   71.169998  1424540.0

        Adj Close Name
 0     132.418320  PVH
 1     132.865402  PVH
 2     134.524612  PVH
 3     133.690033  PVH
 4     132.080536  PVH
 ...          ...  ...
 1253   64.879997  PVH
 1254   67.180000  PVH
 1255   73.519997  PVH
 1256   72.930000  PVH
 1257   71.169998  PVH

 [1258 rows x 8 columns],
             Date        High         Low        Open       Close   Volume  \
 0     2017-12-06  320.579987  311.750000  319.000000  314.660004   938800
 1     2017-12-07  319.910004  311.950012  315.420013  319.570007   987100
 2     2017-12-08  327.549988  319.850006  321.000000  325.769989  1133900
 3     2017-12-11  330.609985  322.660004  327.089996  328.029999  1142800
 4     2017-12-12  327.899994  323.839996  325.200012  327.750000   747400
 ...          ...         ...         ...         ...         ...      ...
 1253  2022-11-29  293.970001  288.440002  291.100006  291.410004  1104000
 1254  2022-11-30  311.880005  301.200012  306.279999  305.170013  4067800
 1255  2022-12-01  306.279999  299.170013  305.510010  301.850006  1927900
 1256  2022-12-02  305.059998  297.779999  299.239990  298.899994  1682600
 1257  2022-12-05  299.700012  290.230011  299.179993  292.750000  1440279

        Adj Close  Name
 0     314.660004  BIIB
 1     319.570007  BIIB
 2     325.769989  BIIB
 3     328.029999  BIIB
 4     327.750000  BIIB
 ...          ...   ...
 1253  291.410004  BIIB
 1254  305.170013  BIIB
 1255  301.850006  BIIB
 1256  298.899994  BIIB
 1257  292.750000  BIIB

 [1258 rows x 8 columns],
             Date        High         Low        Open       Close     Volume  \
 0     2017-12-06   76.260002   74.900002   76.010002   75.790001  3000800.0
 1     2017-12-07   77.470001   75.620003   75.650002   77.260002  3538500.0
 2     2017-12-08   77.860001   77.010002   77.489998   77.290001  2363700.0
 3     2017-12-11   78.110001   77.110001   77.610001   77.769997  3755100.0
 4     2017-12-12   78.449997   77.730003   77.839996   77.760002  2189300.0
 ...          ...         ...         ...         ...         ...        ...
 1253  2022-11-29  162.979996  161.119995  162.070007  162.149994  1073400.0
 1254  2022-11-30  163.710007  159.059998  161.710007  163.449997  2788400.0
 1255  2022-12-01  164.919998  161.110001  163.899994  163.360001  1486900.0
 1256  2022-12-02  163.570007  159.070007  161.059998  163.309998  1861700.0
 1257  2022-12-05  162.000000  159.779999  161.199997  160.360001  1288399.0

        Adj Close Name
 0      67.507912  ETN
 1      68.817261  ETN
 2      68.844009  ETN
 3      69.271545  ETN
 4      69.262627  ETN
 ...          ...  ...
 1253  162.149994  ETN
 1254  163.449997  ETN
 1255  163.360001  ETN
 1256  163.309998  ETN
 1257  160.360001  ETN

 [1258 rows x 8 columns],
             Date       High        Low       Open      Close      Volume  \
 0     2017-12-06  34.041744  33.690701  33.757114  33.738140  18317677.0
 1     2017-12-07  33.814041  33.349148  33.738140  33.681213  16661421.0
 2     2017-12-08  33.937382  33.510437  33.510437  33.908916  15705759.0
 3     2017-12-11  34.402279  33.861481  34.193546  34.354839  15138497.0
 4     2017-12-12  34.933586  34.392788  34.497154  34.705883  23700139.0
 ...          ...        ...        ...        ...        ...         ...
 1253  2022-11-29  49.669998  49.099998  49.500000  49.490002  17160900.0

In [ ]:
# continue work here

### 5 Book to Value Ratio Scraping

In [ ]:
# TODO - download book to market ratio

In [ ]:
# TODO - download market indeces

In [ ]:
# TODO - perform regression

In [ ]:
# TODO - put results into table

In [ ]:
# TODO - comment on findings

In [ ]:
# todo - solve issues

tickers = pd.read_csv("tickers_set.csv", sep = ",")
tickers = pd.DataFrame(tickers)
tickers.columns = ["Index", "Ticker"]
# tickers.head()

tickers = tickers.Ticker
# tickers.head()

long_names = pd.DataFrame(index = range(len(tickers)), columns = 2)

for i in range(len(tickers)):
    long_names[i,0] = tickers[i]
    header = str(curlGetHeaders("https://www.macrotrends.net/stocks/charts/" + tickers[i])[5])
    long_names[i,1] = "Location: https://www.macrotrends.net/stocks/charts/" + tickers[i] + "/" + header
    long_names[i,1] = gsub("/\r\n","",long_names[i,2])
    
    
long_names

#stocks <- pd.Data.Frame()

In [ ]:
# url = https://www.macrotrends.net/stocks/charts/AAPL/apple/price-book
#page = requests.get('https://www.macrotrends.net/stocks/charts/AAPL')#/apple/price-book')

In [ ]:
get.packages('rvest')
library(rvest)

stocks <- pd.Data.Frame(read.csv("tickers_set.csv", sep=","))
colnames(stocks) <- c("Index","Ticker") #maybe pridat adresu
head(stocks,3)

stock_names <- rep(NA,length(stocks$Ticker))
for (i in seq(1:length(stocks$Ticker))){
  stock_names[i] <- as.character(stocks[i,2])
}

long_names <- data.frame(matrix(NA, nrow = length(stocks$Ticker), ncol = 2))
for (i in seq(1:length(stocks$Ticker))){
  long_names[i,1] <- stock_names[i]
  long_names[i,2] <- gsub(paste0("Location: https://www.macrotrends.net/stocks/charts/", stock_names[i],"/"),"",as.character(curlGetHeaders(paste0("https://www.macrotrends.net/stocks/charts/",stock_names[i]))[5]))
  long_names[i,2] <- gsub("/\r\n","",long_names[i,2])
}
names(long_names) <- c("Ticker", "Long_Name")
print(long_names)
write.csv(long_names,"long_names.csv")