In [1]:
# in the beginning, we (install and) import all the needed packages

# !pip install pandas-datareader
# !pip install yfinance
# !pip install pyreadr

import pandas as pd
import numpy as np
import re
import requests
from bs4 import BeautifulSoup
from datetime import datetime
import time

#importing own functions
import scraping_functions as sf
import computing_functions as cf

In [2]:
# loading tickers of selected stocks
tickers = sf.load_tickers("tickers_set.csv")

In [3]:
starting_time = time.time()

# we perform the scraping of market capitalization for all desired stocks 
mkt_cap_df_list = []

for ticker in tickers:
    mkt_cap_df_list.append(sf.mkt_cap_scraper(ticker))


elapsed_time = time.time() - starting_time
print('Computing time:', round(elapsed_time,3) , 'seconds.')

#mkt_cap_df_list

Computing time: 4.618 seconds.

[           Date  Mkt_Cap
 0    2009-04-01     0.78
 1    2009-04-02     0.84
 2    2009-04-03     0.89
 3    2009-04-06     0.88
 4    2009-04-07     0.83
 ...         ...      ...
 3439 2022-11-28    14.11
 3440 2022-11-29    13.95
 3441 2022-11-30    14.61
 3442 2022-12-01    14.43
 3443 2022-12-02    14.49

 [3444 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-04-01     0.00
 1    2009-04-02     0.00
 2    2009-04-03     0.00
 3    2009-04-06     0.00
 4    2009-04-07     0.00
 ...         ...      ...
 3439 2022-11-28    54.00
 3440 2022-11-29    54.11
 3441 2022-11-30    54.70
 3442 2022-12-01    51.23
 3443 2022-12-02    51.45

 [3444 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-04-01     6.24
 1    2009-04-02     6.60
 2    2009-04-03     6.45
 3    2009-04-06     6.32
 4    2009-04-07     5.95
 ...         ...      ...
 3439 2022-11-28   187.96
 3440 2022-11-29   186.35
 3441 2022-11-30   189.91
 3442 2022-12-01   190.35
 3443 2022-12-02   191.10

 [3444 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-04-01     2.04
 1    2009-04-02     2.07
 2    2009-04-03     2.13
 3    2009-04-06     2.16
 4    2009-04-07     2.14
 ...         ...      ...
 3439 2022-11-28    33.31
 3440 2022-11-29    34.04
 3441 2022-11-30    35.45
 3442 2022-12-01    36.56
 3443 2022-12-02    36.24

 [3444 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-04-01     1.84
 1    2009-04-02     1.69
 2    2009-04-03     1.79
 3    2009-04-06     1.66
 4    2009-04-07     1.79
 ...         ...      ...
 3439 2022-11-28     6.37
 3440 2022-11-29     6.46
 3441 2022-11-30     6.61
 3442 2022-12-01     6.57
 3443 2022-12-02     6.59

 [3444 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-04-01     1.07
 1    2009-04-02     1.11
 2    2009-04-03     1.10
 3    2009-04-06     1.09
 4    2009-04-07     1.06
 ...         ...      ...
 3439 2022-11-28    16.68
 3440 2022-11-29    16.63
 3441 2022-11-30    17.46
 3442 2022-12-01    18.01
 3443 2022-12-02    18.18

 [3444 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-04-01    31.68
 1    2009-04-02    32.90
 2    2009-04-03    33.69
 3    2009-04-06    33.61
 4    2009-04-07    32.54
 ...         ...      ...
 3439 2022-11-28   957.44
 3440 2022-11-29   941.85
 3441 2022-11-30   983.84
 3442 2022-12-01   973.24
 3443 2022-12-02   959.28

 [3444 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-04-01     4.98
 1    2009-04-02     5.38
 2    2009-04-03     5.52
 3    2009-04-06     5.47
 4    2009-04-07     5.41
 ...         ...      ...
 3439 2022-11-28    19.86
 3440 2022-11-29    19.86
 3441 2022-11-30    20.23
 3442 2022-12-01    20.31
 3443 2022-12-02    20.45

 [3444 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-04-01     4.81
 1    2009-04-02     4.89
 2    2009-04-03     4.96
 3    2009-04-06     5.00
 4    2009-04-07     4.86
 ...         ...      ...
 3439 2022-11-28    53.96
 3440 2022-11-29    53.78
 3441 2022-11-30    54.72
 3442 2022-12-01    54.25
 3443 2022-12-02    54.33

 [3444 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-04-01    12.40
 1    2009-04-02    12.81
 2    2009-04-03    12.64
 3    2009-04-06    12.75
 4    2009-04-07    12.58
 ...         ...      ...
 3439 2022-11-28    62.69
 3440 2022-11-29    63.71
 3441 2022-11-30    64.81
 3442 2022-12-01    66.03
 3443 2022-12-02    66.71

 [3444 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-04-01    27.33
 1    2009-04-02    28.56
 2    2009-04-03    29.27
 3    2009-04-06    27.93
 4    2009-04-07    26.43
 ...         ...      ...
 3439 2022-11-28    65.00
 3440 2022-11-29    66.26
 3441 2022-11-30    67.45
 3442 2022-12-01    67.39
 3443 2022-12-02    67.82

 [3444 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-04-01    13.47
 1    2009-04-02    13.66
 2    2009-04-03    13.57
 3    2009-04-06    13.38
 4    2009-04-07    13.31
 ...         ...      ...
 3439 2022-11-28    23.04
 3440 2022-11-29    22.95
 3441 2022-11-30    23.65
 3442 2022-12-01    23.66
 3443 2022-12-02    23.58

 [3444 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-03-02     7.65
 1    2009-03-03     8.25
 2    2009-03-04     8.43
 3    2009-03-05     8.33
 4    2009-03-06     8.35
 ...         ...      ...
 3461 2022-11-28    51.19
 3462 2022-11-29    51.39
 3463 2022-11-30    51.86
 3464 2022-12-01    51.33
 3465 2022-12-02    51.71

 [3466 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-02-02     0.94
 1    2009-02-03     0.99
 2    2009-02-04     0.97
 3    2009-02-05     1.01
 4    2009-02-06     1.04
 ...         ...      ...
 3480 2022-11-28     4.16
 3481 2022-11-29     4.32
 3482 2022-11-30     4.47
 3483 2022-12-01     4.90
 3484 2022-12-02     4.86

 [3485 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-04-01    14.97
 1    2009-04-02    15.07
 2    2009-04-03    14.52
 3    2009-04-06    14.32
 4    2009-04-07    15.03
 ...         ...      ...
 3439 2022-11-28    42.15
 3440 2022-11-29    42.08
 3441 2022-11-30    44.07
 3442 2022-12-01    43.59
 3443 2022-12-02    43.16

 [3444 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-04-01     6.26
 1    2009-04-02     6.91
 2    2009-04-03     7.01
 3    2009-04-06     6.92
 4    2009-04-07     6.61
 ...         ...      ...
 3439 2022-11-28    64.76
 3440 2022-11-29    64.60
 3441 2022-11-30    65.12
 3442 2022-12-01    65.08
 3443 2022-12-02    65.06

 [3444 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-04-01    94.12
 1    2009-04-02    92.64
 2    2009-04-03    91.16
 3    2009-04-06    92.24
 4    2009-04-07    90.90
 ...         ...      ...
 3439 2022-11-28   277.94
 3440 2022-11-29   277.49
 3441 2022-11-30   281.08
 3442 2022-12-01   286.41
 3443 2022-12-02   285.45

 [3444 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-04-01     6.70
 1    2009-04-02     7.07
 2    2009-04-03     7.25
 3    2009-04-06     7.05
 4    2009-04-07     6.72
 ...         ...      ...
 3439 2022-11-28    40.81
 3440 2022-11-29    41.83
 3441 2022-11-30    42.30
 3442 2022-12-01    42.57
 3443 2022-12-02    42.61

 [3444 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-04-01     1.93
 1    2009-04-02     2.00
 2    2009-04-03     2.07
 3    2009-04-06     1.93
 4    2009-04-07     1.80
 ...         ...      ...
 3439 2022-11-28    24.53
 3440 2022-11-29    24.81
 3441 2022-11-30    25.06
 3442 2022-12-01    24.66
 3443 2022-12-02    24.30

 [3444 rows x 2 columns],
            Date  Mkt_Cap
 0    2009-04-01     7.62
 1    2009-04-02     8.08
 2    2009-04-03     8.12
 3    2009-04-06     7.96
 4    2009-04-07     7.58
 ...         ...      ...
 3439 2022-11-28    12.21
 3440 2022-11-29    12.20
 3441 2022-11-30    12.53
 3442 2022-12-01    12.34
 3443 2022-12-02    12.09

 [3444 rows x 2 columns]]

In [4]:
# merging mkt. capital for all stocks, and renaming the columns according to particular stocks

df_mkt_cap = mkt_cap_df_list[0]

for dataframe in mkt_cap_df_list[1:] :
    df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')

mc_columns_names = ['Date']
mc_columns_names.extend(tickers)
df_mkt_cap.columns = mc_columns_names

df_mkt_cap

/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_22361/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')
/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_22361/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')
/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_22361/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')
/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_22361/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')
/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_22361/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')
/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_22361/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')
/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_22361/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')
/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_22361/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')
/var/folders/ct/m1lvzdpj1f58qmy6f7psxfwh0000gn/T/ipykernel_22361/3128534298.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Mkt_Cap_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_mkt_cap = df_mkt_cap.merge(dataframe, on='Date', how = 'inner')

,Date,TER,ADM,TMUS,IDXX,LNC,WST,AMZN,DOV,ORLY,...,USB,ETR,AZO,PVH,BIIB,ETN,PFE,WMB,FITB,CHRW
0,2009-04-01,0.78,0.00,6.24,2.04,1.84,1.07,31.68,4.98,4.81,...,27.33,13.47,9.12,1.17,14.97,6.26,94.12,6.70,1.93,7.62
1,2009-04-02,0.84,0.00,6.60,2.07,1.69,1.11,32.90,5.38,4.89,...,28.56,13.66,8.65,1.23,15.07,6.91,92.64,7.07,2.00,8.08
2,2009-04-03,0.89,0.00,6.45,2.13,1.79,1.10,33.69,5.52,4.96,...,29.27,13.57,8.76,1.27,14.52,7.01,91.16,7.25,2.07,8.12
3,2009-04-06,0.88,0.00,6.32,2.16,1.66,1.09,33.61,5.47,5.00,...,27.93,13.38,8.79,1.21,14.32,6.92,92.24,7.05,1.93,7.96
4,2009-04-07,0.83,0.00,5.95,2.14,1.79,1.06,32.54,5.41,4.86,...,26.43,13.31,8.50,1.17,15.03,6.61,90.90,6.72,1.80,7.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3439,2022-11-28,14.11,54.00,187.96,33.31,6.37,16.68,957.44,19.86,53.96,...,65.00,23.04,51.19,4.16,42.15,64.76,277.94,40.81,24.53,12.21
3440,2022-11-29,13.95,54.11,186.35,34.04,6.46,16.63,941.85,19.86,53.78,...,66.26,22.95,51.39,4.32,42.08,64.60,277.49,41.83,24.81,12.20
3441,2022-11-30,14.61,54.70,189.91,35.45,6.61,17.46,983.84,20.23,54.72,...,67.45,23.65,51.86,4.47,44.07,65.12,281.08,42.30,25.06,12.53
3442,2022-12-01,14.43,51.23,190.35,36.56,6.57,18.01,973.24,20.31,54.25,...,67.39,23.66,51.33,4.90,43.59,65.08,286.41,42.57,24.66,12.34
3443,2022-12-02,14.49,51.45,191.10,36.24,6.59,18.18,959.28,20.45,54.33,...,67.82,23.58,51.71,4.86,43.16,65.06,285.45,42.61,24.30,12.09

In [5]:
tickers = pd.read_csv("tickers_set.csv", sep = ",")
tickers = pd.DataFrame(tickers)
tickers.columns = ["Index", "Ticker"]
# tickers.head()

tickers = tickers.Ticker
# tickers.head()

long_names = pd.DataFrame(index = range(len(tickers)), columns = 2)

for i in range(len(tickers)):
    long_names[i,0] = tickers[i]
    header = str(curlGetHeaders("https://www.macrotrends.net/stocks/charts/" + tickers[i])[5])
    long_names[i,1] = "Location: https://www.macrotrends.net/stocks/charts/" + tickers[i] + "/" + header
    long_names[i,1] = gsub("/\r\n","",long_names[i,2])
    
    
long_names

#stocks <- pd.Data.Frame()

TypeError: Index(...) must be called with a collection of some kind, 2 was passed

In [ ]:
# url = https://www.macrotrends.net/stocks/charts/AAPL/apple/price-book
#page = requests.get('https://www.macrotrends.net/stocks/charts/AAPL')#/apple/price-book')

In [ ]:
https://www.macrotrends.net/assets/php/market_cap.php?t=AAPL

In [ ]:
get.packages('rvest')
library(rvest)

stocks <- pd.Data.Frame(read.csv("tickers_set.csv", sep=","))
colnames(stocks) <- c("Index","Ticker") #maybe pridat adresu
head(stocks,3)

stock_names <- rep(NA,length(stocks$Ticker))
for (i in seq(1:length(stocks$Ticker))){
  stock_names[i] <- as.character(stocks[i,2])
}

long_names <- data.frame(matrix(NA, nrow = length(stocks$Ticker), ncol = 2))
for (i in seq(1:length(stocks$Ticker))){
  long_names[i,1] <- stock_names[i]
  long_names[i,2] <- gsub(paste0("Location: https://www.macrotrends.net/stocks/charts/", stock_names[i],"/"),"",as.character(curlGetHeaders(paste0("https://www.macrotrends.net/stocks/charts/",stock_names[i]))[5]))
  long_names[i,2] <- gsub("/\r\n","",long_names[i,2])
}
names(long_names) <- c("Ticker", "Long_Name")
print(long_names)
write.csv(long_names,"long_names.csv")

1-Gathering the data [Daniel, Parsa] 

2-Cleaning and building a data set (readable one for the regression function) [Daniel, Parsa]

In [ ]:
from datetime import date
from pandas_datareader import data as pdr
import pandas as pd
import yfinance as yf

yf.pdr_override() 

today = date.today()
start_date= “2017–01–01”
end_date=”2019–11–30"